#Ignore latex render component
*.aux
*.fls
*.log
*.gz
*.fdb_latexmk
*.md

./*.aux
./*.fls
./*.log
./*.gz
./*.fdb_latexmk

# Maven
target/
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
release.properties
.flattened-pom.xml
javadoc/

# IDE Configuration
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo

# Maven build artifacts
dependency-reduced-pom.xml