Lucas Nguyen <qdn@sfu.ca> qdn <lucas_nguyen@sfu.ca> <duyquan1710@gmail.com>
Samantha Gan <ssg46@sfu.ca> ssg46 <samantha_gan@sfu.ca> <gansamantha028@gmail.com>
Megan Chau <mhc23@sfu.ca> mhc23 <megan_chau@sfu.ca> <meganchau0912@gmail.com>
Krish Kaushik <kka182@sfu.ca> kka182 <krish_kaushik@sfu.ca> <krish.z.kaushik@gmail.com>
Tanveer Muntaseer <tma123@sfu.ca> tma123 <t.muntaseer06@gmail.com> <tanveer_muntaseer@gmail.com>